
@import url(https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
*,:after,:before{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    -webkit-text-size-adjust:100%;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block;
}
.nm-wrap-comments{
    display:none;
}
.comment-form-comment label {
    font-weight: normal; 
}  
body{
    line-height:1
}
ul{
    list-style:none;}
blockquote,q{
    quotes:none;}
blockquote:after,blockquote:before,q:after,q:before{
    content:'';content:none;
}
table{
    border-collapse:collapse;
    border-spacing:0
}
button,html input[type=button],input[type=reset],input[type=submit]{
    -webkit-appearance:button;
    cursor:pointer;}
input:not([type=radio]):not([type=checkbox]),select,textarea{
    -webkit-appearance:none;}
form,label{
    -webkit-text-size-adjust:100%;
}
mark{
    background-color:transparent;
    color:inherit;}
body{
    font-family:Barlow,sans-serif;
    font-size:17px;
    line-height:22px;
    color:#333;
    position:relative}
body.active{
    overflow:hidden;
    width:100%;
    height:100%;
    position:fixed!important;
}
a{
    text-decoration:none;
    -webkit-transition:all .3s linear;
    transition:all .3s linear;
    color:inherit
}
img{
    max-width:100%;vertical-align:top;
}
textarea{
    resize:vertical;}
iframe{
    border:none;
    width:100%;
}
h1,h2,h3,h4,ul{
    margin:0;
    padding:0;
    list-style:none;
}
b,strong{
    font-weight:700;
}
em,i{
    font-style:italic;
}
input[type=submit]{
    cursor:pointer
}
a[href^="tel:"]{
    color:inherit!important;
    text-decoration:none
}
.clearfix:after,.clearfix:before{
    content:"";display:table;clear:both
}
.clearfix{
    clear:both;overflow:hidden
}
.comp{
    color:#00afaa;font-weight:700
}
.comingsoon{
    color:red;font-style:italic;
    font-weight:700
}
.col2{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
    -webkit-column-gap:0;
    -moz-column-gap:0;
    column-gap:0
}
.col3{
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
    -webkit-column-gap:0;
    -moz-column-gap:0;
    column-gap:0
}
.col2 li,.col3 li{
    overflow:hidden;
    display:inline-block;
    width:100%
}
.main_phone{
    font-weight:700
}
.back_top{
    display:none;
    background:#090a0b;
    position:fixed;
    z-index:999;
    bottom:0;
    width:100%;
    height:45px;
    cursor:pointer
}
.back_top:before{
    content:"";
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-45%);
    border-bottom:15px solid #fff;
    border-left:10px solid transparent;
    border-right:10px solid transparent
}
.back_top:hover{
    opacity:.7}
.h1_hdng{
    font-size:22px;
    font-weight:700;
    color:#000
}
.thumb_left_dd,.thumb_left_dr{
    float:left;
    margin:-4px 19px 10px 0
}
.thumb_right_dd,.thumb_right_dr{
    float:right;
    margin:-4px 0 10px 19px
}
.thumb_center_dd,.thumb_center_dr{
    display:block;
    margin:10px auto
}
.text_left,.text_left p{
    text-align:left
}
.text_right,.text_right p{
    text-align:right
}
.text_center,.text_center p{
    text-align:center;
    display:block
}
::-webkit-input-placeholder{
    opacity:1;
    color:inherit
}
::-moz-placeholder{
    opacity:1;color:inherit
}
:-ms-input-placeholder{
    opacity:1;
    color:inherit
}
:-moz-placeholder{
    opacity:1;
    color:inherit
}
.wrapper{
    width:100%;
    max-width:1263px;
    margin:0 auto;
    position:relative
}
.parentheadnav{
    position:absolute;
    width:100%;
    min-height:0;
    z-index:200;
    margin-top:37px;
    font-size:0
}
.headernav{
    width:92.79%;
    z-index:30;
    position:relative;
    min-height:157px;
    background:#fff;
    margin-left:0;
    display:inline-block;
    vertical-align:middle
}
.headernav:before{
    width:328px;
    height:100%;
    content:"";
    background:#fff;
    position:absolute;
    top:0;
    left:-328px}
header{
    background:0 0;
    z-index:30;
    width:100%;
    position:absolute
}
.header_con{
    padding:20px 0;
    position:relative;
    min-height:157px
}
.header_con:before{
    content:"";
    position:absolute;
    width:360px;
    top:0;
    left:-360px;
    background:#fff;height:100%
}
.main_logo{
    float:left
}
.main_logo img{
    width:176px
}
.head_info{
    float:right;
    text-align:right;
    width:63%;
    margin-top:-4px
}
.head_info ul li{
    display:inline-block;
    width:47%;
    line-height:20px;
    padding-left:60px;
    margin:0 10px;
    vertical-align:top
}
.header_info h2{
    text-align:left;
    font-size:14px;
    position:relative
}
.header_info li:last-child h2{
    padding-top:7px
}
.header_info h2:before{
    position:absolute;
    top:19px;left:-60px
}
.header_info ul li:first-child h2:before{
    content:url(https://www.myneighborpharmacy.com/wp-content/themes/myneighborp/images/icons/head1.png)
}
.header_info ul li:last-child h2:before{
    content:url(https://www.myneighborpharmacy.com/wp-content/themes/myneighborp/images/icons/head2.png)
}
.header_con h2:after{
    content:"";
    height:48px;
    width:1px;
    background:#cfcfcf;
    position:absolute;
    top:5px;
    left:-13px
}
.header_info h2 span{
    display:block;
    color:#77bc1f;
    font-weight:700
}
.social_media{
    text-align:center;
    width:91px;
    display:inline-block;
    vertical-align:middle;
    min-height:157px;
    padding:23px 0;
    background:#77bc1f
}
.social_media ul li{
    display:block;
    vertical-align:top;
    margin-top:10px
}
.modal{
    display:none;
    position:fixed;
    background:rgba(38,38,38,.35);
    width:100%;
    z-index:99999;
    height:100%;
    overflow:hidden;
    justify-content:center;
    align-items:center
}
.modal-body{
    position:relative;
    width:100%;
    max-width:515px;
    height:600px;
    background:#fff;
    color:#fff;
    border:3px solid #ffc000;
    border-radius:20px;
    margin:auto 5px
}
.modal-inner{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    color:#000;
    text-align:center;
    padding:40px 20px
}
.modal-inner h2{
    font-size:26px;
    font-weight:700;
    line-height:100%;
    color:#202b61;
    margin-bottom:20px
}
.modal-inner section{
    width:250px
}
.modal-inner figure img{
    width:260px;
    height:575px
}
.modal-inner p{
    font-style:italic;
    line-height:100%;
    margin-bottom:26px
}
.close-btn{
    position:absolute;
    top:5px;
    right:5px;
    text-decoration:none;
    background:#000;
    color:#fff;
    border-radius:50%;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center
}
.close-btn:hover{
    background:#d52518
}
.modal-inner a{
    width:202px;
    line-height:49px;
    background:#77bc1f;
    color:#fff;
    display:inline-block;
    text-align:center;
    font-size:20px;
    border:1px solid transparent;
    vertical-align:middle;
    z-index:30;
    position:relative
}
.modal-inner a:hover{
    border:1px solid #fff;
    background:#0000006e
}
.page_nav{
    background:0 0;
    position:absolute;
    width:calc(100% - 176px);z-index:50;
    bottom:14px;
    text-align:right;
    right:0
}
.page_nav ul{
    padding-right:10px
}
.page_nav ul li{
    display:inline-block;
    vertical-align:top;
    position:relative
}
.page_nav ul li a{
    display:block;
    font-size:16px;
    font-weight:500;
    color:#000;
    text-transform:none;
    line-height:58px;
    padding:0 28px
}
.page_nav ul li a:active,.page_nav ul li a:hover,.page_nav ul li a:hover small,.page_nav ul li.current_page_item a small,.page_nav ul li.current_page_item>a{
    text-decoration:underline
}
.page_nav ul li:after{
    content:"";
    width:1px;
    height:22px;
    background:#c5c5c5;
    position:absolute;
    top:18px;
    right:-4px
}
.page_nav ul li:last-child:after{
    display:none
}
.page_nav ul li:hover{
    position:relative;
    z-index:599;
    cursor:default
}
.page_nav ul ul{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    z-index:598;
    width:100%;
    margin-top:0;
    bottom:0;
    text-transform:none
}
.page_nav ul ul li{
    float:none;
    display:block;
    font-weight:400;
    width:100%
}
.page_nav ul ul ul{
    top:0;
    left:auto;
    right:-99.5%
}
.page_nav ul ul ul{
    top:0;
    left:auto;
    right:-99.5%
}
.page_nav ul li:hover>ul{
    display:block
}
.page_nav ul li.current_page_item ul li a,.page_nav ul ul a{
    width:200px;
    background:#799847;
    color:#fff;
    padding:0;
    margin:0 auto
}
.page_nav ul li.current_page_item ul li a:hover,.page_nav ul ul a:hover,.page_nav ul ul li.current_page_item a{
    background:#1a271a;
    color:#a5ff16
}
.page_nav ul ul ul{
    border-top:0 none
}
.page_nav ul ul li{
    position:relative
}
.page_nav span{
    position:absolute;
    right:25px;
    top:32px;
    display:none;
    padding:0;
    cursor:pointer;
    z-index:9;
    color:#fff;
    text-align:center
}
.fa{
    display:block;
    margin-top:-3px
}
.fa:before{
    position:absolute
}
.nav_toggle_button{
    display:none;
    text-align:left;
    position:relative
}
.nav_toggle_button.active{
    opacity:1
}
.nav_toggle_button i{
    cursor:pointer
}
.nav_toggle_button .toggle_holder{
    position:absolute;
    top:60%;
    right:0;
    transform:translateY(-50%)
}
.nav_toggle_button .hamburger-inner,.nav_toggle_button .hamburger-inner:after,.nav_toggle_button .hamburger-inner:before{
    background:#fff
}
.nav_toggle_button small{
    text-transform:uppercase;
    font-weight:700;
    font-size:13px;
    color:#fff;
    display:block
}
.menu_slide_right{
    display:none
}
.menu_slide_right .hamburger-inner,.menu_slide_right .hamburger-inner:after,.menu_slide_right .hamburger-inner:before{
    background:#000
}
.menu_slide_right .toggle_holder{
    position:absolute;
    top:55%;
    right:10px;
    transform:translateY(-50%)
}
.menu_slide_right small{
    text-transform:uppercase;
    color:#000;
    font-weight:700;
    font-size:13px;
    display:block
}
.bnr_con{
    min-height:0;
    padding:0
}
.rslides{
    display:none
}
.slider{
    width:1920px;
    height:auto;
    margin-left:-26%;
    position:relative
}
.slider:before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:#000;
    z-index:50;
    opacity:.1
}
.mobi_ban{
    display:none
}
.bnr_info{
    width:835px;
    max-width:100%;
    position:absolute;
    bottom:168px;
    left:0;
    z-index:150;
    min-height:404px
}
.contatiner{
    padding:100px 52px 0
}
.bnr_info:before {
    background: url(https://www.myneighborpharmacy.com/wp-content/themes/myneighborp/images/bnr_bg.png) no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
}
.bnr_info h2{
    font-size:30px;
    color:#fff;
    margin-bottom:7px;
    font-weight:300;
    line-height:47px;
    text-shadow:#5f5f5f 2px 0 0,#5f5f5f 1.75517px .958851px 0,#5f5f5f 1.0806px 1.68294px 0,#5f5f5f .141474px 1.99499px 0,#5f5f5f -.832294px 1.81859px 0,#5f5f5f -1.60229px 1.19694px 0,#5f5f5f -1.97999px .28224px 0,#5f5f5f -1.87291px -.701566px 0,#5f5f5f -1.30729px -1.51361px 0,#5f5f5f -.421592px -1.95506px 0,#5f5f5f .567324px -1.91785px 0,#5f5f5f 1.41734px -1.41108px 0,#5f5f5f 1.92034px -.558831px 0
}
.bnr_info h2 span{
    font-size:70px;
    font-weight:900;
    color:#fff;
    line-height:52px;
    display:block
}
.bnr_info h2 small{
    font-size:70px;
    text-transform:uppercase;
    display:inline
}
.bnr_info p{
    font-size:20px;
    color:#fff;
    line-height:30px;
    font-weight:300;
    padding:25px 11px;
    text-shadow:#5f5f5f 2px 0 0,#5f5f5f 1.75517px .958851px 0,#5f5f5f 1.0806px 1.68294px 0,#5f5f5f .141474px 1.99499px 0,#5f5f5f -.832294px 1.81859px 0,#5f5f5f -1.60229px 1.19694px 0,#5f5f5f -1.97999px .28224px 0,#5f5f5f -1.87291px -.701566px 0,#5f5f5f -1.30729px -1.51361px 0,#5f5f5f -.421592px -1.95506px 0,#5f5f5f .567324px -1.91785px 0,#5f5f5f 1.41734px -1.41108px 0,#5f5f5f 1.92034px -.558831px 0
}
.bnr_info a{
    display:block;
    width:304px;
    line-height:84px;
    background:#77bc1f;
    font-size:30px;
    color:#fff;
    text-align:center;
    font-weight:300;
    position:absolute;
    bottom:-40px;
    left:-116px;
    right:0;margin:0 auto
}
.bnr_info a:hover{
    background:#6a6b6e
}
.bnr_info h5{
    position:absolute;
    text-align:left;
    left:0;
    top:-103px;
    color:#fff;
    font-size:27px;
    font-weight:700;
    text-shadow:0 0 8px #000;
    line-height:100%;
    padding:20px;
    background:#00a8a3a1;
    border-radius:4px
}
#middle1{
    background:#333e48;
    position:relative;
    z-index:100
}
.middle_con1{
    min-height:658px;
    padding:112px 0 0;
    text-align:center
}
.middle_boxes{
    font-size:0
}
.middle_boxes section{
    display:inline-block;
    vertical-align:top;
    width:30%;
    height:auto;
    text-align:left;
    color:#fff;
    margin:0 31.5px
}
.middle_boxes section:first-child{
    margin-left:0
}
.middle_boxes section:last-child{
    margin-right:0
}
.middle_boxes section h2{
    display:inline-block
}
.middle_boxes section h2 span{
    display:inline-table;
    font-size:26px;
    vertical-align:middle;
    line-height:33px;
    padding-left:22px
}
.middle_boxes section h2 span small{
    display:block;
    font-size:30px;
    text-transform:uppercase;
    font-weight:700
}
.middle_boxes section h2::before{
    display:inline-block;
    vertical-align:middle
}
.mid_box1 h2::before{
    content:url(https://www.myneighborpharmacy.com/wp-content/themes/myneighborp/images/icons/mid1_b1.png)
}
.mid_box2 h2::before{
    content:url(https://www.myneighborpharmacy.com/wp-content/themes/myneighborp/images/icons/mid1_b2.png)
}
.mid_box3 h2::before{
    content:url(https://www.myneighborpharmacy.com/wp-content/themes/myneighborp/images/icons/mid1_b3.png)
}
.middle_boxes section p{
    padding:20px 0 0;
    min-height:165px;
    line-height:28px;
    font-weight:300;
    font-size:17px
}
.middle_boxes section a{
    display:block;
    width:197px;
    line-height:60px;
    background:0 0;
    border:1px solid #fff;
    text-align:center;
    font-size:20px
}
.middle_boxes section a:hover{
    background:#6a6b6e
}
#middle2{
    margin-top:-148px;
    margin-right:-367px
}
.middle_con2{
    min-height:316px;
    padding:115px 90px;
    text-align:left;
    color:#fff;
    background:url(https://www.myneighborpharmacy.com/wp-content/themes/myneighborp/images/mid2_bg.jpg);
    width:1409px;
    position:relative;
    z-index:101
}
.middle_con2:after{
    background:rgba(47,154,65,.95);
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    top:0;left:0;
    z-index:0
}
.middle_con2 h2{
    font-size:30px;
    line-height:37px;
    text-transform:uppercase;
    display:inline-block;
    width:24%;
    vertical-align:middle;
    position:relative;
    z-index:30
}
.middle_con2 h2 span{
    font-size:45px;
    display:block;
    font-weight:700
}
.middle_con2 h2:after{
    content:url(https://www.myneighborpharmacy.com/wp-content/themes/myneighborp/images/icons/mid2.png);
    position:absolute;
    top:-92%;
    left:-15%;
    z-index:-1
}
.middle_con2 p{
    display:inline-block;
    width:40%;
    margin-right:10px;
    vertical-align:middle;
    position:relative;
    z-index:30;
    line-height:30px
}
.middle_con2 a{
    width:197px;
    line-height:60px;
    background:#77bc1f;
    color:#fff;
    display:inline-block;
    text-align:center;
    font-size:20px;
    border:1px solid transparent;
    vertical-align:middle;
    z-index:30;
    position:relative
}
.middle_con2 a:hover{
    border:1px solid #fff;
    background:#0000006e
}
.main_con{
    min-height:0;
    padding:25px 0}
main{
    float:right;
    width:630px;
    line-height:28px;
    max-width:100%;
    text-align:left;
    margin-right:10px;
    padding:85px 0 0
}
main .h1_title{
    font-size:50px;
    font-weight:700;
    line-height:45px;
    margin-bottom:40px;
    color:#29292b
}
main .h1_title span{
    font-size:30px;
    font-weight:400;
    display:block;
    color:#a0a0a0;
    text-transform:uppercase}
main p{
    margin-bottom:15px
}
main ol{
    padding-left:20px;
    margin-bottom:15px
}
main ul li{
    position:relative
}
main .bullet{
    padding:0;
    margin-bottom:15px
}
main .bullet li{
    position:relative;
    padding-left:25px;
    margin-bottom:8px
}
main .bullet li:before{
    position:absolute;
    content:"";
    width:10px;
    height:10px;
    border-radius:50%;
    left:3px;
    top:9px;
    background:#a80c0c
}
main a{
    font-weight:700;
    color:#77bc1f;
    text-decoration:none
}
main a:hover{
    color:#000;
    text-decoration:underline
}
.btm_main{
    padding-top:66px
}
.main_btns{
    width:304px;
    line-height:84px;
    display:inline-block;
    margin:0 4px;
    text-align:center;
    color:#fff;
    font-weight:400;
    font-size:30px;
    background:#77bc1f
}
.main_btns:hover
{
    text-decoration:none;
    color:#fff;
    background:#29292b
}
.intro_txt{
    text-align:center;
    margin-bottom:25px;
    padding:15px;
    border-bottom:3px solid #00afaa;
    font-weight:700;
    font-size:22px
}
.sidebar{
    width:auto;
    margin-left:-26%;
    margin-top:-15.3%;
    z-index:-1;
    position:relative
}
.side_box1{
    padding:10px;
    background:#259d31
}
.side_box1 ul li{
    display:block;
    vertical-align:top;
    margin-bottom:5px
}
.side_box1 ul li a{
    color:#fff;
    display:block;
    line-height:30px;
    text-align:center
}
.side_box2{
    background:#603268;
    margin:25px auto 0;
    padding:10px
}
#bottom0{
    background:#333e48
}
.btm0_con{
    min-height:0;
    padding:46px 0;
    text-align:center;
    color:#fff;
    margin-bottom:30px;
    margin-top:35px
}
.btm0_con h3{
    font-size:30px;
    line-height:100%
}
.btm0_con h2{
    font-size:50px;
    font-weight:700;
    line-height:100%;
    margin-bottom:15px
}
.btm0_con p{
    padding:25px 32px 0;
    line-height:31px
}
.btm0_con figure{
    width:100%;
    max-width:278px;
    border:5px solid #fff;
    margin:20px auto 25px
}
.btm1_con{
    min-height:0;
    padding:53px 0
}
.btm1_con h2{
    font-size:50px;
    font-weight:700;
    color:#29292b;
    line-height:100%;
    padding-bottom:35px;
    position:relative
}
.btm1_con h2:after{
    content:"";
    width:732px;
    height:7px;
    background:#e9e9e9;
    right:0;
    top:26%;
    position:absolute
}
.btm1_con p{
    width:64%;
    display:inline-block;
    line-height:28px
}
.btm1_con a{
    display:inline-block;
    font-size:20px;
    float:right;
    text-align:center;
    width:228px;
    line-height:60px;
    background:#77bc1f;
    color:#fff;
    font-weight:300
}
.btm1_con a:hover{
    background:gray
}
#bottom2{
    background:#fff
}
.btm2_con{
    min-height:0;
    padding:8px 0;
    text-align:center
}
.btm2_boxes{
    font-size:0
}
.btm2_boxes section{
    display:inline-block;
    vertical-align:top;
    width:304px;
    min-height:430px;
    padding:15px;
    background:#fff;
    margin:0 7px;
    -webkit-box-shadow:0 20px 22px -1px rgba(186,186,186,1);
    -moz-box-shadow:0 20px 22px -1px rgba(186,186,186,1);
    box-shadow:0 20px 22px -1px rgba(186,186,186,1);
    font-size:17px
}
.btm2_boxes section:first-child{
    margin-left:0
}
.btm2_boxes section:nth-child(2){
    display:none
}
.btm2_boxes section:last-child{
    margin-right:0
}
.btm2_boxes section h2{
    font-size:24px;
    line-height:25px;
    min-height:220px
}
.btm2_boxes section h2:before{
    display:block;padding:30px 0
}
.btm2_box1 h2:before{
    content:url(https://www.myneighborpharmacy.com/wp-content/themes/myneighborp/images/icons/btm2_1.png)
}
.btm2_box2 h2:before{
    content:url(https://www.myneighborpharmacy.com/wp-content/themes/myneighborp/images/icons/btm2_2.png)
}
.btm2_box3 h2:before{
    content:url(https://www.myneighborpharmacy.com/wp-content/themes/myneighborp/images/icons/btm2_3.png)
}
.btm2_box4 h2:before{
    content:url(https://www.myneighborpharmacy.com/wp-content/themes/myneighborp/images/icons/btm2_4.png)
}
.btm2_boxes section h2 span{
    font-weight:700;display:block;color:#00afaa
}
.btm2_boxes section p{
    line-height:25px;min-height:80px
}
.btm2_boxes section a{
    display:block;
    width:197px;
    line-height:60px;
    background:#333e48;
    color:#fff;
    margin:0 auto;
    font-size:20px
}
.btm2_boxes section a:hover{
    background:#00afaa
}
footer{
    position:relative
}
.footer_top{
    color:#fff;
    z-index:10;
    width:100%;
    margin-bottom:-155px;
    position:relative;
    padding-top:106px;
    font-size:0
}
.footer_top_con{
    min-height:335px;
    padding:0;
    background:#2f9a41;
    width:80%;
    position:relative;
    display:inline-block;
    vertical-align:middle
}
.footer_top_con:before{
    position:absolute;
    width:320px;
    height:100%;
    background:#2f9a41;
    content:"";
    left:-320px
}
.footer_top_right_con{
    width:20%;
    height:335px;
    display:inline-block;
    background:#77bc1f;
    vertical-align:middle;
    font-size:16px;
    text-align:center;
    padding:50px 10px
}
.contact_info{
    padding:32px 0
}
.contact_info h2{
    font-size:30px;
    text-transform:uppercase;
    line-height:40px
}
.contact_info h2 span{
    display:block;
    font-size:45px;
    font-weight:700
}
.contact_info p{
    line-height:27px;
    font-weight:300;
    font-size:17px
}
.contact_body{
    margin:0 0 0;
    padding:0;
    list-style:none;
    display:inline-block;
    width:49%;
    white-space:pre-line;
    vertical-align:middle;
    font-size:20px;
    font-weight:400
}
.contact_info ul li{
    line-height:26px;
    display:block;
    vertical-align:top;
    white-space:pre-line;
    padding-left:85px;
    position:relative
}
.contact_info ul li span{
    font-size:30px;
    font-weight:700
}
.contact_info ul li address{
    display:inline-block
}
.contact_info ul li a{
    font-weight:inherit
}
.contact_info ul li a[href^="tel:"]{
    color:inherit
}
.contact_info ul li a:hover{
    text-decoration:underline
}
.contact_info ul li:before{
    position:absolute;top:0;left:0
}
.contact_info ul li:first-child:before{
    content:url(https://www.myneighborpharmacy.com/wp-content/themes/myneighborp/images/icons/footer_top1.png)
}
.contact_info ul li:last-child:before{
    content:url(https://www.myneighborpharmacy.com/wp-content/themes/myneighborp/images/icons/footer_top2.png)
}
.contact_head{
    display:inline-block;
    width:45%;
    white-space:pre-line;
    vertical-align:middle
}
.footer_top_right_con h2{
    font-size:30px;
    font-weight:700;
    text-transform:uppercase;
    white-space:pre-line;
    line-height:35px;
    margin:0 auto
}
.footer_top_right_con h2:before{
    content:url(https://www.myneighborpharmacy.com/wp-content/themes/myneighborp/images/icons/footer_top_right1.png);
    display:block;
    padding-bottom:12px
}
.footer_top_right_con p{
    font-size:16px;
    line-height:28px;
    padding-top:30px
}
.footer_top_right_con a{
    font-size:16px
}
.footer_top_right_con a:hover{
    text-decoration:underline
}
.footer_logo{
    z-index:30;
    position:relative;
    padding-left:329px;
    display:inline-block;
    width:66%;
    vertical-align:bottom;
    margin-right:30px;
    margin-bottom:60px;
    text-align:center
}
.footer_logo img{
    width:326px
}
.footer_btm_con{
    min-height:663px;
    padding:0;
    font-size:0
}
.footer_btm_left{
    background:url(https://www.myneighborpharmacy.com/wp-content/themes/myneighborp/images/footer_btm_left.jpg) no-repeat;
    background-position-x:0;
    width:84%;
    display:inline-block;
    min-height:inherit;
    vertical-align:top;
    position:relative;
    margin-left:-320px
}
.footer_btm_left:before{
    position:absolute;
    width:100%;
    content:"";
    background:#333e48;
    height:100%;
    left:0;
    opacity:.95;
    z-index:0
}
.footer_btm_right{
    width:850px;
    display:inline-block;
    min-height:inherit;
    vertical-align:top;
    margin-right:-332px
}
.footer_map{
    height:100%;
    min-height:inherit
}
.inner_foot{
    margin-top:200px
}
.footer_sitem{
    width:20%;
    display:inline-block;
    vertical-align:bottom;
    margin-left:45px
}
.footer_sitem h2{
    color:#fff;
    font-weight:700
}
.footer_sitem ul{
    padding:25px 0 0;
    margin:auto 0;
    list-style:none
}
.footer_sitem ul li{
    vertical-align:top;
    position:relative;
    padding:9px 0;
    line-height:35px;
    border-bottom:1px solid #626262
}.footer_sitem ul li a{display:block;
    color:#fff;
    text-transform:capitalize;
    font-size:17px
}
.footer_sitem ul li a:hover{
    text-decoration:underline
}
.footer_sitem ul li:last-child:after{
    display:none
}
.footer_comp{
    display:block;
    margin:0 10px;
    position:relative
}
.footer_comp:before{
    content:"\2022";
    left:0;
    top:0;
    position:absolute;
    display:none
}
.footer_comp:after{
    content:"\2022";
    right:0;
    top:0;
    position:absolute;
    display:none
}
.copyright{
    color:#fff;
    margin:0 auto;
    text-align:center;
    position:relative;
    z-index:30;
    font-size:17px;
    line-height:28px;
    padding-top:35px
}
.copyright a{
    color:#fff
}
.copyright a:hover{
    text-decoration:underline
}
.resources a{
    display:block;
    font-weight:700;
    -webkit-transition:all .3s linear;
    -moz-transition:all .3s linear;
    transition:all .3s linear
}
.resources a:hover{
    padding-left:2px;
    text-decoration:none!important;
    color:gray
}
.resources li,.resources ul{
    list-style-type:none;
    margin:0;padding:0
}
.resources ul li{
    margin-bottom:8px;
    padding:12px;
    background:#fafdfe;
    border:1px solid #ececec
}
.resources ul li:before{
    content:""
}
.resources ul li:after{
    content:""
}
.resources ul li a span{
    font-size:11px;
    color:#666;
    letter-spacing:1px;
    display:block;
    overflow-wrap:break-word;
    word-wrap:break-word;
    -webkit-hyphens:auto;
    -ms-hyphens:auto;
    -moz-hyphens:auto;
    hyphens:auto
}
.lt-ie8 .dang-ie{
    width:100%;
    height:100%;
    position:fixed;
    background-color:#00abdd
}
.message{
    text-align:center;
    color:#fff;
    font-size:20px;
    position:absolute;
    top:20%;left:0;right:0
}
.inner-message{
    position:relative;
    top:-20%;
    left:0;
    right:0;
    text-align:center;
    margin:auto
}
.inner-message img{
    position:relative;left:0
}
.inner-message a.download{
    display:block;
    width:300px;
    padding:10px;
    color:#fff;
    margin:2em auto;
    border:1px solid #fff
}
.terms{
    color:#fff;
    font-size:13px;
    padding:20px;
    position:absolute;
    right:0;
    bottom:0
}
.terms a{
    color:#fff;
    font-weight:700
}
.lt-ie8 .protect-me{
    display:none
}
.sitemap{
    list-style-type:none;
    padding:0;
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
    -webkit-column-gap:3px;
    -moz-column-gap:3px;
    column-gap:3px
}
.sitemap li{
    counter-increment:step-counter;
    overflow:hidden;
    width:100%;
    display:inline-block;
    vertical-align:top
}
.sitemap li{
    padding:5px 15px;
    background:#e3e3e3
}
.sitemap li:nth-child(odd){
    background:#f2f2f2
}
.sitemap li a{
    display:block
}
.sitemap li a:hover{
    color:#00a8a3
}
.sitemap li a:before{
    content:counter(step-counter) '. '
}
.sitemap ul{
    margin-top:5px
}
.sitemap ul li:nth-child(odd){
    background:#e3e3e3
}
.sitemap ul li:nth-child(even){
    background:#f2f2f2
}
.sitemap ul li{
    counter-increment:sub-counter
}
.sitemap ul li a:before{
    content:counter(step-counter) '.' counter(sub-counter) ' '
}
.breadcrumbs{
    margin-bottom:34px;
    border-bottom:1px dotted gray;
    padding-bottom:11px
}
.breadcrumbs span{
    vertical-align:bottom;
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis
}
.breadcrumbs span[property=name]{
    display:inline-block;
    padding:0;
    margin-top:-3px;
    vertical-align:middle;
    max-width:270px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color:#00afaa
}
.breadcrumbs span[property=name]:hover{
    text-decoration:underline
}
.breadcrumbs .post{
    border-radius:0;
    padding:0;
    margin:0;
    border:none;
    word-wrap:normal
}
.breadcrumbs span[class='post post-page current-item']{
    display:inline-block;
    padding:0;
    max-width:250px;
    white-space:nowrap
}
.non_ban{
    position:relative
}
.non_ban_img{
    width:1920px;
    margin-left:-420px
}
.non_ban_img img{
    vertical-align:middle
}
.page_title{
    text-align:center;
    width:100%;
    z-index:2;
    position:absolute;
    bottom:0;
    font-size:44px;
    line-height:100%;
    padding:15px;
    background:rgba(0,0,0,.5)
}
.fixedHeadNav{
    position:fixed;
    margin-top:0;
    background:#fff
}
.fixedSocial{
    background:#fff
}
.footer_sitem ul{
    padding:0
}
.inner_foot{
    margin-top:185px
}
.footer_sitem ul li:last-child{
    border:0
}
.footer_map>iframe:nth-child(1){
    min-height:inherit
}
.footer_map{
    line-height:0
}
.footer_sitem ul li a:hover,.footer_sitem ul li.current-menu-item a{
    text-decoration:underline!important
}
